.nav-item{
    margin-left: 15px;
}
/* .navbar-nav {
    margin-left: 130px;
} */
.d-flex{
    margin-left: 200px;
    width: 35%;
}
#p1{
    background-image: url(https://stimg.cardekho.com/pwa/img/CD_Revv-Desktop_1686x548px.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}
#s1{
    /* border: 1px solid; */
    background-color: white;
    color: black;
    position: relative;
    top: 28px;
    left: 70px;
    border-radius: 5%;
}
#s1 h3{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 8px;
}
#flexRadioDefault1:hover{
    background-color: rgb(247,93,52);
}
#flexRadioDefault2:hover{
    background-color: rgb(247,93,52);
}
