.nav-link img{
    height: 20px;
    width: 25px;
}
.navbar-nav a{
    color: black;
}
#n1{
    margin-left: 70%;
}
.nav-item{
    margin-left: 10px;
}
#s1{
    margin-left: 25%;
}
#h1 ul:hover{
    text-decoration: underline;
    cursor: pointer;
}
#m1 i{
    font-size: 20px;
}